<div>
   <h3 class="text-center">{{name}}'s Dashboard</h3>
</div>

<div class="d-grid col-2 mx-auto">
    <button type="button" class="btn btn-outline-success">Create New Blog Post</button>
</div>

<script src="/public/js/profile.js"></script>