        <h3 class="loginHdr">Login</h3>
    
    <form id="loginForm">
        <div class="mb-3" id="loginFormEmail">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>

        <div class="mb-3" id="loginFormPassword">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        </div>

        <button type="submit" class="btn btn-secondary" id="loginButton">Login</button>
      </form>

    <h3 class="signUpHdr">Sign up</h3>

      <form id="SignUpForm">
        <div class="mb-3" id="signUpFormName">
            <label for="inputName" class="form-label">Name</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>

        <div class="mb-3" id="signUpFormEmail">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3" id="signUpFormPassword">
          <label for="InputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
          
        </div>
        <button type="submit" class="btn btn-secondary" id="singUpBtn">Sign up</button>
      </form>


      <script src="/public/js/login.js"></script>
